<footer>
  <section class="left">
    <img src="assets/ahimsa.png">
    <!-- <p>non-violence is the key opening the door to lasting change.</p> --> 
  </section>
  <section class="right">
    <p>Men die, ideas survive. The truth of an idea will inevitably transform everyone who understands it. We try to understand what's true.</p>
    <ul>
      <li>© 2026 Sarvodaya Network</li>
      <ul>
        <li>
          <a href="https://fsoci.al" target="_blank">
            <img class="fsocial" src="assets/logos/fsocial.svg" alt="fsocial">
          </a>
        </li>
        <li> <!-- if possible exch. signal with molly logo -->
          <a href="https://signal.group/#CjQKIO22Ar4py8gWND2cJz-oXZlCjEW_A6guQvW-twlFUWEyEhADVardCAHnFiDSvXVAtOgQ" target="_blank">
            <img class="signal" src="assets/logos/signal.png" alt="signal">
          </a>
        </li>
      </ul>
    </ul>
  </section>  
</footer>
