<header>
<!-- Add top and hidden mobile navi w/ 
  * Archive (written content & galleries) 
  * Links? -->
  <section>
    <a href="/">
      <!-- s·η· -->
      <img src="assets/sn-red.png"> <!-- later Menu button? -->
      </a>
  </section>
  <nav>
    <ul>
      <li class="title"><h1>sarvodaya ηetwork</h1></li>
      <ul class="subpages">
        <li><a href="program.html">program</a></li>
        <li><a href="library.html">library</a></li>
        <li><a href=""></a></li>
      </ul>
    </ul>
  </nav>
</header>
