{% capture page_content %}
  {{ content }}
{% endcapture %}

{% capture toc_content %}
  {% include toc-mobile.html %}
{% endcapture %}

{% include content-without-style-tag.liquid pageContent=page_content %}


<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <title>{{site.title}} | {{page.title}}</title>
        <link rel="stylesheet" href="/styles.css">
        <link rel="icon" type="image/x-icon" href="/sn.ico" />
        {% include page-style-tag.liquid pageContent=page_content %}
    </head>
    
    <body>
      {% include header.html %}
      
      <main>
        <section class="article">
          {{ contentWithoutStyleTag }}
        </section>
      </main>

      {% include footer.html %}
    </body>
</html>
